    body {
    background-color:rgb(253, 251, 251) ;
    margin: 0;
    
    }

    #cabecalho {
        position: fixed;
        top: 0;
        width: 100%;
    }
    #titulo {
        text-align: center;
    }
    #minha_foto {
        position: absolute;
        left: 35%;
        border-radius: 20px;
    }

    h2{
    position: absolute;
    left: 16%;
    top: 46%;
    }
    
    #licoes_aprendidas, ol { 
    position: absolute;
    top:50%;
    left: 20%;
    }